.DS_Store

oh-my-zsh/
*.log

__pycache__/

.zsh_history

common/fish/conf.d/private_env.fish
common/fish/fish_variables
common/tmux/plygins/tpm

# this is an internal config file for sketchybar, when swapping keyboard layout.
macOS/sketchybar/keymap.conf
macOS/aerospace/aerospace.toml
macOS/aerospace/.layout_config.conf

archlinux/waybar2
