.DS_Store

oh-my-zsh/
*.log

__pycache__/

.zsh_history

common/fish/conf.d/private_env.fish
common/fish/fish_variables

# this is an internal config file for sketchybar, when swapping keyboard layout.
macOS/sketchybar/keymap.conf
macOS/aerospace/aerospace.toml
macOS/aerospace/.layout_config.conf

archlinux/waybar2

# Agents details that should not go over the cloud
## Vibe
common/agent-clis/vibe/trusted_folders.toml
common/agent-clis/vibe/update_cache.json
common/agent-clis/vibe/vibehistory
common/agent-clis/vibe/vibe.log
