@import "../../themes/current-theme.css";

#workspaces button {
  color: @module-fg;
  box-shadow: none;
  margin: 5px 5px 0 5px;
  border-radius: 5px;
  transition: none;
}
#workspaces button:hover {
  color: @hover-fg;
  background: @hover-bg;
  text-shadow: none;
}
#workspaces button.active {
  color: @active-fg;
  background: @active-bg;
  padding: 2px 0 2px 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

#workspaces {
  background: @level3-bg;
}
